<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <wo:WOGenericElement elementName = "meta" name = "revision" content = "$application.revision" />
        
        <title><wo:str value = "$application.name" /></title>
    </head>
    
    <body style = "background: #1e1e1e;font-family:sans-serif;">
		<div style = "margin-top:100px;margin-left:auto;margin-right:auto;padding:20px;width:400px;border: 5px solid #666;background-color: #eee;-webkit-border-radius: 15px;">
			<h1 style = "margin:0;">Error</h1>
			Sorry, an unexpected error has occurred. <wo:str value = "$exception.getMessage"/>
			<br/><br/>
			<wo:link directActionName = "login">Continue...</wo:link>
		</div>
	</body>
</html>
